
body {
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffd8d8;
    padding-left: 175px;
    padding-right: 175px;
}


header {
    text-align: center;
    margin-bottom: 20px;
}
  
header img {
    border-radius: 75%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
  
header h1 {
    font-size: 28px;
    margin: 10px 0;
    color: #2c3e50;
}
  
h2 {
    font-size: 22px;
    color: #db3434;
    margin-bottom: 10px;
    border-bottom: 2px solid #db3434;
    padding-bottom: 5px;
}
  
p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
}
  
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}
  
li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
}
  
footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #777;
}
  
footer a {
    color: #db3434;
    text-decoration: none;
}
  
footer a:hover {
    text-decoration: underline;
}