body{
    margin-top: 2%;
    color: white;
    background-color: rgb(255, 164, 164);
    user-select: none; /* Agregamos esto para que  el usuario no pueda seleccionar texto. */
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 90, 90);
    width: 31%;
    margin-right: 0.5%;
}

.menu_container>.menu{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 2%;
    font-weight: bold;
    margin: 2vw;
    transition: border-bottom 0.75s ease;
    border-bottom: 2px solid transparent;
}
.main_container>.content_container{
    width: 67%;
    background-color: rgb(0, 0, 0);
}

.menu_container>.menu:hover{
    border-bottom: 3px solid black;   
}
.content_container{
    margin: auto;
    padding-left: 1%;
}
footer{
    color: black;
    text-align: center;
    margin-top: 0.5%;
    background-color: rgb(243, 90, 90);
    padding: 1%;
    font-weight: bold;
}
.foto{
    width: 30%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.space{
    display: block;
    margin-bottom: 2%;
}

.exercicesLinks{
    color: white;
    text-decoration: none;
    background-color: rgb(128, 0, 0);
    font-size: 1em;
    margin: 5%;
    padding: 1em;
    text-align: center;
    overflow: hidden;
    width: 6em;
    height: 2em;
    box-shadow: 5px 5px 15px rgba(255, 0, 0, 0.4);
    transform: rotate(-5deg);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.exercicesLinks:hover{
    transform: scale(1.2) rotate(0deg);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0);
}

.linksContainer{
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.linksContainer>a{
    padding: 10%;
}


@media (max-width : 920px){

    .content_container>.main_container{
        flex-direction: column;
    }

    .exercicesLinks {
        font-size: 1em;
        padding: 0.4em 0.8em;
        width: 7em;
        height: 3em;
    }
}

@media ( max-width : 1550px) {
    .content_container{
        padding-left: 0;
    }
}

.hellobar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(132, 0, 255);
    color: black;
    font-weight: bold;
    padding: 5px;
    z-index: 1000;
    animation: scroll 10s linear infinite;
}

#contenedor_enlace {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
} /*Mostrar los ejercicios, con una transiccion. */

/*
@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
} Esta animacion replica el JS hecho pero en css, es mas sencillo y consume menos.*/

