.container {
    margin: auto;
    width: 50%; 
    border: 2px solid rgb(28, 28, 255); 
    padding: 2vh;
    background-color: #d3d3d3; 
}

.container a{
    text-decoration: none;
}

.before {
    float: left; 
}

.after {
    float: right;
}