*{
    margin: auto;
    width: 90%;
}
#container{
    margin: 5%;
    max-width: 1200px;
}
.container{
    display: flex;
    margin: auto;
}
header{
    background-color: rgb(173, 111, 231);
    display: flex;
    padding-left: 5%;
}
header h2{
    background-color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 33%;
}
header nav{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: end;
    justify-self: flex-end;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 2.5%;
}
nav a:hover{
    color: grey;
}
button{
    background-color: rgb(173, 111, 231);
    border: none;
    color: white;
    padding: 3%;
    margin-left: 2%;
    width: 33%;
    border-radius: 15%;
}
img , text{
    width: 50%;
    
}
p{
    margin: 3%;
}
@media ( max-width: 768px) {
    header, .container{
        flex-direction: column;
        padding-bottom: 2%;
        width: 100%;
    }
    header h2 , nav {
        width: 60%;
    }
    nav a{
        text-align: center;
    }
    img{
        width: 75%;
    }
}