*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
}

.container{
    border: 2px dotted green;
    display: flex;
    flex-direction: column;
}
body>div{
    width: 50%;
    margin: 15vh 25vw;
}

div{
    border: 1px solid rgb(0, 60, 255);
    background-color: rgb(255, 255, 159);
    color: blue;
    padding: 0.75vh 1vw;
    margin: 5px;
    text-align: center;
}

.row_container{
    display: flex;
    flex-direction: row;
    border: 2px dotted green;
}

#search{
    width: 40%;
}
#id{
    width: 60%;
}
#menu{
    width: 50%;
}
#left{
    width: 25%;
}
#right{
    width: 25%;
}