*{margin: 0;padding: 0;}
#pagina{width: 100%;}

@font-face {
    font-family: essence;
    src: url("fuentes/aressence.ttf");
}
@font-face {
    font-family: song;
    src: url("fuentes/song.ttf");
}

nav
{
    background: black;
    padding: 10px 50px;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
}
nav ul
{
    display: flex;
    list-style: none;
    font: bold 15px verdana, sans-serif;
    justify-content: space-between;
}
nav a
{
    text-decoration:none;
    color: white;
}
nav a:hover
{ 
    color: orange; 
}
img
{
    display: block;
}
section
{
    padding: 20px;
    overflow: hidden;
    background: whitesmoke;
}
footer
{
    background: black;
    font: bold 13px verdana, sans-serif;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    clear: both;
}
.contenedor
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.normal
{
    font-size: 16px;
    font: verdana, sans-serif;
    text-align: justify;
    line-height: 32px;
}
@media (min-width: 768px)
{
    .normal
    {
        font-size: 20px ;
        font: verdana, sans-serif;
        text-align: justify;
        line-height: 34px;
    }
}
@media (min-width: 1200px)
{
.normal
    {
        font-size: 24px ;
        font-family: verdana, sans-serif;
        text-align: justify;
        line-height: 38px;
    }
}
@media (min-width: 1600px)
{
    .normal
    {
        font-size: 22px;
        font-family: verdana, sans-serif;
        text-align: justify;
        line-height: 40px;
    }
}
@media (min-width: 1920px)
{
    .normal
    {
        font-size: 26px;
        font-family: verdana, sans-serif;
        text-align: justify;
        line-height: 46px;
    }
}
.elemento-49
{
    width: 49%;
    padding-bottom: 5px;
}
.titulo
{
    font-family: essence;
    color: grey;
    font-size: 38px;
    text-shadow: 2px 2px 2px black;
}
ul li
{
    margin-left: 40px;
}
.titulo-2
{
    font-family: song;
    color: orange;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px BLACK;
}
