#page{
    margin: auto;
    border: 2px solid black;
    padding: 3vh 3vw;
}

h1 , h2{
    text-align: center;
    border: 2px solid black;
    padding: 1%;
    background: pink;
}

.text{
    border: 2px solid black;
    padding: 1vh 1vw;
    margin: 4vh 25vw;
    white-space: pre-wrap;
    word-wrap:break-word;
    text-align: center;
}

.fixed_container{
    background-color: rgb(218, 213, 213);
    position: absolute;
    border: 2px solid black;
}
.fixed_container p{
    padding: 1vh 1vw;
    margin: 1vh 41vw;
}
.fixed_container:hover{
    background-color: rgb(192, 190, 190);
}